.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
// @mixin line-height ($font-size, $line-height) {
//     line-height: calc($line-height / $font-size);
    
// }
@mixin inverse ($color, $bg-color) {
    color:$bg-color;
    background-color: $color;
}
@mixin grid-item-width ($total-margin, $column-num) {
    width: calc((100% - $total-margin) / $column-num);
}
@mixin grid-item-max-width ($total-margin, $column-num) {
    max-width: calc((100% - $total-margin) / $column-num);
}
@mixin transition-single($property, $time: 250ms, $cubic: $cubic-bezier) {
    transition: $property $time $cubic;
}

@mixin transition-double($property, $second-property, $time: 250ms, $cubic: $cubic-bezier) {
    transition: $property $time $cubic, $second-property $time $cubic;
}
@mixin transition-triple($property, $second-property, $third-property, $time: 250ms, $cubic: $cubic-bezier) {
    transition: $property $time $cubic, $second-property $time $cubic, $third-property $time $cubic;
}

