.subscription-form {
	display: flex;
	&__input {
		margin-right: 12px;
		padding: 15px 16px;
		width: 358px;
		height: 50px;

		color: var(--main-background-color);
		/* outline: #2196F3; */
		border: 1px solid #ffffff30;
		border-radius: $border-radius-main;
		background-color: inherit;
		transition: box-shadow $transition-time-main $cubic-bezier;

		&:hover,
		&:focus {
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
		}
	}
}
.subscription__icon {
	margin-left: 10px;
	--color2: currentColor;
	width: 24px;
	height: 24px;
}
