.section--gray {
    background-color: $secondary-bg-color;

}
.team-list {
    text-align: center;
    display: flex;
    max-width: 1170px;
}

.team-list__item {
    // @include grid-item-width (90px, 4);
    max-width: calc((100% - 90px) / 4);
    background-color: $main-bg-color;
    border-radius: $border-radius-small;
    max-width: 270px;
    box-shadow:
        0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: $border-radius-main;
    border-bottom-right-radius: $border-radius-main;

    &:not(:first-child) {
        margin-left: 30px;
    }
}
.team-card__photo {
    display: block;

    width: 100%;
}

.team-card__info {
    padding: 30px 0;
}
.team-card__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: $title-text-color;

    margin-bottom: 10px;
}
.team-card__pos {
    font-size: 16px;
    line-height: 1.19;
}
